<head>
  <link rel="stylesheet" type="text/css" href="<%= url('/index.css') %>" />
  <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/index.js"></script>
  <script type="text/javascript" src="/countdown.js"></script>
</head>
<body>
  <img class="liveview" src="http://172.24.1.1:8080/liveView.mjpg">
  <div id="overlay">
    <div class="countdown html">
        <h2>0</h2>
        <svg width="160" height="160">
         <g>
          <title>Layer 1</title>
          <circle id="circle" class="circle_animation" r="69.85699" cy="81" cx="81" stroke-width="8" stroke="#6fdb6f" fill="none"/>
         </g>
        </svg>
    </div>
  </div>
</body>
