<head>
  <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/index.js"></script>
  <script type="text/javascript" src="/countdown.js"></script>
  <link rel=”stylesheet” type=”text/css” href=”/style.css” />
</head>
<body>
  <img class="liveview" src="http://172.24.1.1:8080/liveView.mjpg">
</body>
